---
---

body {
  font-family: Arial, sans-serif;
  font-size: 2vh;
}

h1 {
  text-align: center;
  font-size: 14vw;
}

ul {
  font-size: 3vh;
  list-style: none;
  text-align: center;
  padding: 0;

  .date {
    color: #bfbfbf;
  }

  li {
    margin-bottom: 12px;
  }
}

a {
  transition: color .4s;
  color: #265C83;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  color: #007BE6;
}

.link { text-decoration: none; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.title {
  max-width: 80%;
}

.icon {
  opacity: 0.3;
  width: 6vh;
}

.icon-container {
  align-self: flex-start;
  position: absolute;
  right: 10px;
}

.post-content {
  width: 60%;
  margin: 50px auto 0 auto;

  img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .post-content {
    width: 80%;
  }
}

.mail-page {
  width: 80%;
  margin: 50px auto 0 auto;

  table {
    width: 100%;
  }

  td, th {
    padding: 10px;
  }

  thead {
    text-align: left;
  }

  tbody {
    tr:nth-child(odd) {
      background: #eee;
    }
  }

  img {
    max-width: 100%;
  }
}
