---
layout: default
---

<div class="container">
  <div class="icon-container">
    <a href="/list">
      <img class="icon" src="/assets/list-icon.png" alt="list"/>
    </a>
    <br/>
    <a href="/mail">
      <img class="icon" src="/assets/mail-icon.png" alt="list"/>
    </a>
  </div>
  {% for item in site.posts limit:1 %}
    {% assign content = item.content | strip_newlines %}

    <div class="title">
      {% if content == "" %}
        <h1>
          {{ item.title }}
        </h1>
      {% else %}
        <a class='link' href='{{site.baseurl}}{{item.url}}'>
          <h1>
            {{ item.title }}
          </h1>
        </a>
      {% endif %}
    </div>
  {% endfor %}
</div>
